@use "../abstracts/variables" as *;

.badge{
  padding: $space-xs $space-sm;
  border-radius: $radius-sm;
  font-size: $font-size-md;
  font-weight: bold;
}

.badge-default{
  color: $text-secondary;
  background-color: $color-bg;
  border: 1px solid $text-secondary;
}

.badge-success{
  color: $success-text;
  background-color: $success-bg;
  border: 1px solid $success-border;
}

.badge-warning{
  color: $warning-text;
  background-color: $warning-bg;
  border: 1px solid $warning-border;
}

.badge-danger{
  color: $danger-text;
  background-color: $danger-bg;
  border: 1px solid $danger-border;
}