@use "../abstracts/variables" as *;

.btn{
  display: flex;
  align-items: center;
  justify-content: center;

  gap: $space-sm;

  padding: $space-sm $space-md;

  border-radius: $radius-sm;
  border: none;

  font: inherit;
  cursor: pointer;
  color: $color-surface;

  .btn-icon{
    width: $icon-size;
    height: $icon-size;
  }
}

.collapse-btn {
  width: 100%;

  justify-content: flex-start;
  align-items: center;

  color: $nav-text-active;
  background: transparent;

  border: 2px solid transparent;
  transition: background-color $transition-speed, color $transition-speed;

  &:hover {
    background-color: $nav-hover-bg;
  }
}

.btn-primary{
  background-color: $btn-primary;
  &:hover{
    background-color: $btn-primary-hover;
  }
}

.btn-secondary{
  background-color: $btn-secondary;
  &:hover{
    background-color: $btn-secondary-hover;
  }
}

.btn-success{
  background-color: $btn-success;
  &:hover{
    background-color: $btn-success-hover;
  }
}

.btn-danger{
  background-color: $btn-danger;
  &:hover{
    background-color: $btn-danger-hover;
  }
}