@use "../abstracts/variables" as *;

.nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  cursor: pointer;
  text-decoration: none;

  border-radius: $radius-md;
  color: $nav-text;

  gap: $space-sm;
  padding: $space-sm $space-md;
  margin: $space-md;

  border: 2px solid transparent;
  transition: background-color $transition-speed, color $transition-speed;

  .nav-icon {
    width: $icon-size;
    height: $icon-size;

    flex-shrink: 0;
    opacity: 0.5;

    transition: opacity $transition-speed;
  }

  &:hover {
    background-color: $nav-hover-bg;
  }

  &.active {
    background-color: $nav-active-bg;
    color: $nav-text-active;
    border: 2px solid $nav-active-border;

    .nav-icon {
      opacity: 1;
    }
  }
}