@use "../abstracts/variables" as *;

.project-timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $space-xl;
  border-radius: $radius-md;
  max-width: 320px;

  .project-content{
    display: flex;
    flex-direction: column;
    gap: $space-xs;

    p {
      &:first-of-type {
        font-size: $font-size-xlg;
        font-weight: bold;
        color: $text-primary;
      }

      &:last-of-type {
        font-size: $font-size-lg;
        color: $text-secondary;
      }
    }
  }
}

.svg-progress-ring{
  display: block;
  margin: 0 auto;

  &:hover{
    opacity: 0.85;
    transition: opacity 0.2s ease;
  }
}

timer-beep{
  display: none;
}