@use "../abstracts/variables" as *;

.project-card{
  flex: 1 1 $project-card-width;
  border-radius: $radius-md;
  padding: $space-md;
  margin: $space-md;
  border: 1px solid $nav-active-border;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $space-sm;

  p {
    color: $text-secondary;
    font-size: $font-size-lg;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: $space-md;
  }
}