@use "../abstracts/variables" as *;

.sidebar {
  width: $sidebar-width;
  height: 100vh;

  display: flex;
  flex-direction: column;

  .sidebar-header {
    display: flex;
    justify-content: center;
    margin: $space-md 0;
  }

  .sidebar-footer {
    margin-top: auto;
  }
}
