@use "../abstracts/variables" as *;

.sidebar {
  background: $sidebar-bg;
  padding: $spacing-md;

  display: flex;
  flex-direction: row;
}

.sidebar__link {
  padding: $spacing-sm;
  border-radius: $radius;

  &:hover {
    background: rgba(0,0,0,0.05);
  }
}