@use "../abstracts/variables" as *;

.sidebar {
  width: $sidebar-width;
  height: 100vh;

  display: flex;
  flex-direction: column;

  .sidebar-header {
    display: flex;
    justify-content: center;
    margin: $space-md 0;
  }

  .sidebar-footer {
    margin-top: auto;
    padding: $space-md;

    .sidebar-footer-line{
      height: 1px;
      background-color: $text-secondary;
      opacity: 0.5;
      margin: $space-md;
    }
  }
}
