// colors
$color-bg: #f1f1f1;
$color-surface: #ffffff;

$text-primary: #111827;
$text-secondary: #6b7280;

// button
$btn-primary: #00B4D8;
$btn-primary-hover: #0096C7;

$btn-secondary: #90E0EF;
$btn-secondary-hover: #72D6E6;

$btn-danger: #EF476F;
$btn-danger-hover: #D93A60;

$btn-success: #2EC4B6;
$btn-success-hover: #25A99D;

// nav item
$nav-hover-bg: #d8d8d8;
$nav-active-bg: #d8d8d8;
$nav-active-border: #c8c8c8;
$nav-text: $text-secondary;
$nav-text-active: $text-primary;

// spacing
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;

// border radius
$radius-xs: 0.25rem;
$radius-sm: 0.5rem;
$radius-md: 1rem;

// sizing
$icon-size: 1.25rem;
$sidebar-width: 19rem;
$sidebar-width-collapse: 5.5rem;

// transitions
$transition-speed: 0.2s;
