// colors
$color-bg: #f6f6f6;
$color-surface: #ffffff;
$color-black: #000000;

$text-primary: #111827;
$text-secondary: #6b7280;

$color-primary: #00B4D8;
$color-secondary: #90E0EF;

$color-success: #2EC4B6;
$color-warning: #F59E0B;
$color-danger: #EF476F;

// button
$btn-primary: $color-primary;
$btn-primary-hover: #0096C7;

$btn-secondary: $color-secondary;
$btn-secondary-hover: #72D6E6;

$btn-success: $color-success;
$btn-success-hover: #25A99D;

$btn-danger: $color-danger;
$btn-danger-hover: rgba(217, 58, 96, 0.22);

$primary-bg: rgba(144, 224, 239, 0.15);
$primary-text: $btn-primary;
$primary-border: rgba(0, 150, 199, 0.3);

$success-bg: #2EC4B626;
$success-text: $color-success;
$success-border: rgba(46, 196, 182, 0.3);

$warning-bg: #F59E0B26;
$warning-text: $color-warning;
$warning-border: rgba(245, 158, 11, 0.3);

$danger-bg: #EF476F26;
$danger-text: $color-danger;
$danger-border: rgba(239, 71, 111, 0.3);


// nav item
$nav-hover-bg: #d8d8d8;
$nav-active-bg: #d8d8d8;
$nav-active-border: #c8c8c8;
$nav-text: $text-secondary;
$nav-text-active: $text-primary;

// spacing
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;

// border radius
$radius-xs: 0.25rem;
$radius-sm: 0.5rem;
$radius-md: 1rem;
$radius-lg: 1.5rem;
$radius-xl: 2rem;

// sizing
$icon-size: 1.25rem;

$sidebar-width: 18em;
$sidebar-width-collapse: 5.5rem;

$table-width: 40rem;

$modal-width: 40rem;
$modal-min-width: 8rem;

$project-card-width: 40rem;
$project-detail-width: 65rem;

// font
$font-size-xs: 0.25rem;
$font-size-sm: 0.5rem;
$font-size-md: 0.75rem;
$font-size-lg: 1rem;
$font-size-xlg: 1.25rem;
$font-size-xl: 1.5rem;

// transitions
$transition-speed: 0.2s;
