@use "../abstracts/variables" as *;

.analytics {

  .analytics-wrapper {
    display: flex;
    margin: $space-xl;
    flex-direction: column;
    gap: $space-md;

    .analytics-chart {
      width: 100%;
      height: 350px;
    }

    .analytics-stats {
      display: flex;
      flex-wrap: wrap;
      gap: $space-md;
      width: 100%;

      & > * {
        flex: 1 1 300px;
        width: 100%;
      }
    }
  }
}